<h1 class="text-center">Registrar</h1>

<form  action="" method="post" class="text-center">

    <div class="form-group">

        <label for="">correo</label>
        <input type="email" name="email" class="form-control"/>
    </div>
    <div class="form-group">

        <label for="">contraseña</label>
        <input type="password" name="password" class="form-control"/>
    </div>
    <button class="btn btn-primary" for-action="">Crear cuenta de usuario</button>
</form>